@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Bruno Ace SC", cursive;
  font-family: "Nunito", sans-serif;
}

:root {
  --title-color: rgb(50, 50, 50);
}

.titulo {
  color: var(--title-color);
  text-align: center;
}

.contenedor {
  width: 80%;
  height: 80vh;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.informacion {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.informacion > h2 {
  margin-bottom: 0px;
}

.informacion > p {
  margin: 10px 0;
}

.informacion > button {
  margin-top: 20px;
  border: 0px;
  background-color: rgb(35, 35, 35);
  color: rgb(219, 219, 219);
  padding: 12px;
  max-width: 200px;
  transition: .5s;
  cursor: pointer;
}

.informacion > button:hover{
    transform: scale(1.2);
}

img {
  width: 100%;
  max-width: 300px;
}



@media (min-width: 768px) {
    .titulo {
        text-align: left;
        margin-left: 20px;
      }

    .contenedor{
        flex-direction: row;
        height: auto;
        margin-top: 20vh;
    }
}